.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#upload-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
