#body {
  min-height: 100vh;
  background-color: #fdf6f0;
}

.card {
  margin-top: 25%;
  margin-left: 10%;
  max-width: 80%;
}

/* .column1 {
  display: flex;
  justify-content: right;
}

.column2 {
  display: flex;
  justify-content: left;
} */
