.header-text {
  padding-top: 5%;
  padding-bottom: 30px;
}

#main {
  background-color: #fdf6f0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  padding-top: 5%;
}

#login-form {
  width: 100%;
}
